<div class="container-fluid categories-wrapper">
    <div class="row">
        <div class="col ">
            <img src="logo_whitebg.png" alt="" id="top-logo" {{action "toHome"}}>
        </div>
        <div class="col dropdown">
            <div>
                {{#each bikes as |category| }}
                <div class='category-main'>
                    <div style="height:100%" {{action "redirect" category}} {{action "populateDropdown" category on="mouseEnter" }} class="category_name dropdown">{{category.name}}</div>
                </div>
                {{/each}}
            </div>
            <div class="container-fluid dropdown-content" id="ddc">
                <div class="row" style="height:100%;">
                    <div class="col" {{action "closeDropdown" on="mouseEnter" }}>
                    </div>
                    <div class="col" {{action "closeDropdown" on="mouseLeave" }}>
                        <div id="link-list"></div>
                    </div>
                    <div class="col" {{action "closeDropdown" on="mouseEnter" }}>
                        <div id="link-list-image-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <h3 id="logged-in-user"></h3>
            </div>
            <div class="col">
                <button {{action 'login'}} id="login-nav-button">Login</button>
                <button {{action 'logout'}} id="logout-nav-button">Logout</button>
                <button {{action 'checkSession'}}>Check</button>
            </div>
        </div>
    </div>
</div>