<div class="container item_display_wrapper" >
    {{#each bikes as |bike|}}
    <div class="row item_display">
        <div class="col-sm-3">
            <img src="{{bike.img}}" alt="" class="item_preview_image">
        </div>
        <div class="col-sm-6 item_info">
            <div class="row" {{action "display" bike}}>
                <span>{{bike.name}}&nbsp;{{bike._id}}</span>
            </div>
            <div class="row">
                <span>{{bike.price}}{{bike.unit}}</span>
            </div>
            <div class="row">
                <span>{{bike.description}}</span>
            </div>

        </div>
        <div class="col-sm-3">
            <ul>
                {{#each bike.salesPoints as |point|}}
                <li>{{point}}</li>
                {{/each}}
            </ul>

        </div>
    </div>
    {{/each}}
</div>

<script>
   // $(".page_wrapper").fadeIn(300);
</script>