<div class="container-fluid item_display_wrapper">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">{{list-filter options='{"options":["Popularity", "Price: (Low - High)", "Price: (High - Low)","Name: (A - Z)", "Name: (Z - A)"]}' sortAction=this.sortAction}}</div>
    </div>
    <div class="row list_main_row"> 
            <div class="grid-container col-xl-12">
            {{#each bikes as |bike index|}}
                <div class="grid-item ">
                        <div class="container">
                                <div class="row item_preview_first_row">
                                    <img src="{{bike.img}}" alt="" class="item_preview_image" >
                                    <ul>
                                        {{#each bike.salesPoints as |point|}}
                                            <li>{{point}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="row">
                                    {{#link-to 'item' (query-params id=bike._id)}}<span>{{bike.name}}&nbsp;{{bike._id}}</span>{{/link-to}}
                                </div>
                                <div class="row">
                                    <span>{{bike.price}}{{bike.unit}}</span>
                                </div>
                                <div class="row">
                                    <span>{{bike.description}}</span>
                                </div>
                        </div>
                </div>
            {{/each}}
            </div>
    </div>
</div>
<script>
   // $(".page_wrapper").fadeIn(300);
</script>