<div class="container item_display_wrapper">
    <div class="row item_name">
        <div class="col-xl-12">{{item.firstObject.name}}</div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="row">Rating:</div>
            <div class="row">
                <div class="col-xl-9">
                    <img src="{{item.firstObject.img}}" class="item_image" alt="">
                </div>
                <div class="col-xl-3">
                    <div class="row">
                        {{item.firstObject.price}}{{item.firstObject.unit}}
                    </div>
                    <div class="row">
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        {{item.firstObject.description}}
    </div>

</div>
{{yield}}