<div class="container">
    <img src="{{item.firstObject.img}}" alt=""> 
    {{item.firstObject.name}}
     {{item.firstObject.description}}
      {{item.firstObject.price}} 
      {{item.firstObject.unit}}
</div>
{{yield}}