<div class="dropdown" {{action "showLoginMenu" category on="mouseEnter" }}>
    {{#if session.isAuthenticated}}
        NAME
    {{else}}
        <h3>Log In</h3>
    {{/if}}
</div>
<div class="container-fluid dropdown-content-small" id="login-menu" {{action "hideLoginMenu" category on="mouseLeave" }}>
    {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}  {{login-form}} {{/if}}
</div>