<div class="dropdown" {{action "showLoginMenu" category on="mouseEnter" }}>
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
    {{#if activeSession}}
    <h4>Hi, {{user.firstName}}!</h4>
    {{else}}
    <button {{action 'login'}} id="login-nav-button">Login</button>
    {{/if}}
</div>
<div class="container-fluid dropdown-content-small" id="log-in-menu" {{action "hideLoginMenu" category on="mouseLeave" }}>
    <div class="row">
        <div class="col">
            {{#if activeSession}}
            <!-- logged in -->
            <button {{action 'logout'}} id="logout-nav-button">Logout</button>
            {{else}}
            <!-- not logged in -->
            
            {{/if}}
            <p id="logged-in-user"></p>
            <button {{action 'checkSession'}}>Check</button>
        </div>
    </div>
</div>