<div class="dropdown" {{action "showLoginMenu" category on="mouseEnter" }}>
    {{#if session.isAuthenticated}}
        Hi, {{session.session.content.authenticated.user.firstName}}!
        {{log session.session.content.authenticated.user}}
        
    {{else}}
        <h4>Log In</h4>
    {{/if}}
</div>
<div class="container-fluid dropdown-content-small" id="login-menu" {{action "hideLoginMenu" category on="mouseLeave" }}>
    {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
    {{else}}  {{login-form}} {{/if}}

</div>