<div class="dropdown" {{action "showLoginMenu" category on="mouseEnter" }}>

    {{#if session }}
    <h4>Hi, {{user.firstName}}!</h4>
    {{else}}
    <h4>Log In</h4>
    {{/if}}
</div>
<div class="container-fluid dropdown-content-small" id="log-in-menu" {{action "hideLoginMenu" category on="mouseLeave" }}>
    <div class="row">
        <div class="col">
            {{#if session}}
            <!-- logged in -->
            <button {{action 'logout'}} id="logout-nav-button">Logout</button>
            {{else}}
            <!-- not logged in -->
            {{login-form}}
            {{/if}}
        </div>
    </div>
</div>