<div class="container-fluid login-container">
    <div class="row">
        <div class="col">Sign in</div>
    </div>
    <div class="row">
        <div class="error-message">
            {{serverError}} {{#if errorMessage}}
            <p>{{errorMessage}}</p>
            {{/if}}
        </div>
        <form {{action 'authenticate' on='submit' }} class="login_form">
        <div class="container">
            <label for="email">
                <b>Email</b>
                <br>
                <span class="error-message">{{emailError}}</span>
            </label>
            {{input id='identification' placeholder='Enter Login' value=identification}}
            <label for="psw">
                <b>Password</b>
                <br>
                <span class="error-message">{{passwordError}}</span>
            </label>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
            <button class="login-button" type="submit">Sign in</button>
        </div>
        </form>
    </div>
</div>


