<!--<div class="container login-container">
    <div class="row">
        <div class="col">Sign in</div>
    </div>
    <div class="row">
        <form {{action 'authentication' on='submit'}}>
            <div class="container">
                <div class="error-message">
                    {{serverError}}
                </div>
                <label for="email">
                    <b>Email</b><br>
                    <span class="error-message">{{emailError}}</span>
                </label>
                {{input value=model.email class="login " id="login-email"}}
                <label for="psw">
                    <b>Password</b><br>
                    <span class="error-message">{{passwordError}}</span>
                </label>
                {{input value=model.password class="login" id="login-password" type="password"}}
                <button class="login-button" {{action "authenticateLogin"}}>Sign in</button>
            </div>
        </form>
    </div>
</div>
-->
<div class="container">
    <div class="error-message">
        {{serverError}} {{#if errorMessage}}
        <p>{{errorMessage}}</p>
        {{/if}}
    </div>
    <form {{action 'authenticate' on='submit' }}>
        <label for="identification">Email
            <span class="error-message">{{emailError}}</span>
        </label>
        {{input id='identification' placeholder='Enter Login' value=identification}}
        <label for="password">Password
            <span class="error-message">{{passwordError}}</span>
        </label>
        {{input id='password' placeholder='Enter Password' type='password' value=password}}
        <button type="submit">Login</button>
    </form>
</div>