<div class="container login-container">
    <div class="row">
        <div class="col">Sign in</div>
    </div>
    <div class="row">
        <form>
            <div class="container">
                <div class="error-message">
                    {{serverError}}
                </div>
                <label for="email">
                    <b>Email</b><br>
                    <span class="error-message">{{emailError}}</span>
                </label>
                {{input value=model.email class="login " id="login-email"}}
                <label for="psw">
                    <b>Password</b><br>
                    <span class="error-message">{{passwordError}}</span>
                </label>
                {{input value=model.password class="login" id="login-password" type="password"}}
                <button class="login-button" {{action "authenticateLogin"}}>Sign in</button>
            </div>
        </form>
    </div>
</div>